<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Multi Path Story Maker</title>
        <!-- Note: Please change the basepath here as it's only required for this piece of code -->
        <link href="/multi-path-story-maker/css/index.css" rel="stylesheet" />
    </head>
    <body></body>
</html>
