<%- include('../partials/header'); %>
<h4>Creating a new story.</h4>
<form method="POST" action="/new">
    <span>Story Name: <input type="text" name="title" /></span>
    <button type="submit">Create!</button>
</form>
<%- include('../partials/footer'); %>
